---
http_interactions:
- request:
    method: get
    uri: https://confbots.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ctN2hmdaBEO88RxxQImm", oauth_nonce="CFsr6fP8kFfTQ6b7rISkrrfXrscgMre7bq0F9LPI",
        oauth_signature="kac%2B8liS0lpqI5TcUddhKeSyp3k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1399301394", oauth_token="b1HF8Xtd03t6z5srRRbw", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"1129bced54398c9d7f792b987b19b1aa\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '6'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":10,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"name\":\"Inbox\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":1,\"active\":true,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/1964933\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/1964933/cases\",\"class\":\"case\"}}},{\"name\":\"All
        Cases\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":2,\"active\":true,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/1964934\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/1964934/cases\",\"class\":\"case\"}}},{\"name\":\"My
        Cases\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":3,\"active\":true,\"_link[...]
- request:
    method: get
    uri: https://confbots.desk.com/api/v2/filters/1964933/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ctN2hmdaBEO88RxxQImm", oauth_nonce="PsxtCIS2EaFd9hxqykwThlgQJ2x3RSFa9KXSflZtoNQ",
        oauth_signature="YHg3jCuuADgO%2FEY3dAZ2%2Focw9nU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1399301394", oauth_token="b1HF8Xtd03t6z5srRRbw", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"52ef60bda0ecd6c34a12bd5b1f9e39ac\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Reset:
      - '5'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":1,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/1964933/cases?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters/1964933/cases?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters/1964933/cases?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":1,\"external_id\":null,\"blurb\":\"I
        want to personally thank you for signing up to try Desk.com! To ensure you
        get the most out of your trial, here are some helpful tips and quick ways
        to get started:\\n\\n1. USE IT - You\\u2019ve got 14 days to try us out -
        please do so and tell us what you t\",\"subject\":\"Getting Started with Your
        New Account\",\"priority\":4,\"locked_until\":null,\"description\":\"\",\"status\":\"open\",\"type\":\"email\",\"labels\":[\"Prove
        It\",\"Sample Case\"],\"label_ids\":[1759341,1766397],\"language\":\"en\",\"active_at\":\"2014-05-05T12:12:05Z\",\"created_at\":\"2014-04-29T19:43:30Z\",\"updated_at\":\"2014-05-05T12:50:22Z\",\"received_at\":\"2014-04-29T19:43:30Z\",\"first_opened_at\":\"2014-04-29T19:45:06Z\",\"opened_at\":\"2014-04-29T19:45:06Z\",\"first_resolved_at\":null,\"resolved_at\":null,\"custom_fields\":{},\"_links\":{\"self\":{\"href\":\"/api/v2/cases/1\",\"class\":\"case\"},\"message\":{\"href\":\"/api/v2/cases/1/message\",\"class\":\"email\"},\"customer\":{\"href\":\"/api/v2/customers/187301564\",\"class\":\"customer\"},\"labels\":{\"href\":\"/api/v2/cases/1/labels\",\"class\":\"label\"},\"assigned_user\":{\"href\":\"/api/v2/users/21971901\",\"class\":\"user\"},\"assigned_group\":{\"href\":\"/api/v2/groups/409832\",\"class\":\"group\"},\"locked_by\":null,\"history\":{\"href\":\"/api/v2/cases/1/history\",\"class\":\"history\"},\"case_links\":{\"href\":\"/api/v2/cases/1/links\",\"class\":\"case_link\"},\"macro_preview\":{\"href\":\"/api/v2/cases/1/macros/preview\",\"class\":\"macro_preview\"},\"replies\":{\"href\":\"/api/v2/cases/1/replies\",\"class\":\"reply\",\"count\":1},\"draft\":{\"href\":\"/api/v2/cases/1/replies/draft\",\"class\":\"reply\"},\"notes\":{\"href\":\"/api/v2/cases/1/notes\",\"class\":\"note\",\"count\":0},\"attachments\":{\"href\":\"/api/v2/cases/1/attachments\",\"class\":\"attachment\",\"count\":0}}}]}}"
  recorded_at: Mon, 05 May 2014 14:49:55 GMT
recorded_with: VCR 2.9.0
