---
http_interactions:
- request:
    method: post
    uri: https://confbots.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: "{\"name\":\"Prove It\",\"description\":\"description of Prove It\",\"types\":[\"case\",\"macro\"],\"color\":\"blue\"}"
    headers:
      Authorization:
      - OAuth oauth_body_hash="a49fx%2BZvJgz%2Fl7VGglDclmzKI7E%3D", oauth_consumer_key="ctN2hmdaBEO88RxxQImm",
        oauth_nonce="pX0s1FfaCJgJsbNvUJZkksUfdiQVEd0pbqzSsE1c", oauth_signature="nxZ9Z4EhcXuWcK5Ex9Yz5lJGygw%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399301764", oauth_token="b1HF8Xtd03t6z5srRRbw",
        oauth_version="1.0"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '55'
    body:
      encoding: UTF-8
      string: "{\"message\":\"Validation Failed\",\"errors\":{\"name\":[\"taken\"]}}"
  recorded_at: Mon, 05 May 2014 14:56:05 GMT
recorded_with: VCR 2.9.0
