---
http_interactions:
- request:
    method: post
    uri: https://confbots.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: "{\"name\":\"Prove It\",\"description\":\"description of Prove It\",\"types\":[\"case\",\"macro\"],\"color\":\"blue\"}"
    headers:
      Authorization:
      - OAuth oauth_body_hash="a49fx%2BZvJgz%2Fl7VGglDclmzKI7E%3D", oauth_consumer_key="ctN2hmdaBEO88RxxQImm",
        oauth_nonce="laXSaDgiYRHZZKAGx6I64slTnKnvIVxlgHh3DRGlZA", oauth_signature="59CHgQs5cI1APqhSondR8AoyX2Q%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1399302167", oauth_token="b1HF8Xtd03t6z5srRRbw",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"4aca9d88ac2a14c166ec01f2f797e35c\""
      Location:
      - https://confbots.desk.com/api/v2/labels/1766397
      Status:
      - 201 Created
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Reset:
      - '13'
    body:
      encoding: UTF-8
      string: "{\"id\":1766397,\"name\":\"Prove It\",\"description\":\"description
        of Prove It\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"blue\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1766397\",\"class\":\"label\"}}}"
  recorded_at: Mon, 05 May 2014 15:02:47 GMT
- request:
    method: get
    uri: https://confbots.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ctN2hmdaBEO88RxxQImm", oauth_nonce="vfa4FdmzEz63qRYtdKyvWIvHyJ7ehRFCQYQRPcneM",
        oauth_signature="yO3PrACpkaNUAQr7bxbb%2FeCqQ8Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1399302167", oauth_token="b1HF8Xtd03t6z5srRRbw", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"13993021682528860\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '57'
      X-Rate-Limit-Reset:
      - '12'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":9,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":1759344,\"name\":\"Abandoned
        Chats\",\"description\":\"Abandoned Chats\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1759344\",\"class\":\"label\"}}},{\"id\":1759343,\"name\":\"Escalated\",\"description\":\"Escalated\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1759343\",\"class\":\"label\"}}},{\"id\":1759340,\"name\":\"Example\",\"[...]
