---
http_interactions:
- request:
    method: get
    uri: https://confbots.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ctN2hmdaBEO88RxxQImm", oauth_nonce="HTv6OZ3rlP8k0xtSt9ZENCSz5Gn6O7PZqyh4XAyZXk",
        oauth_signature="%2BrUoG1eLNinMMAXLTzF0zCz6Kb0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1399301601", oauth_token="b1HF8Xtd03t6z5srRRbw", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"13992933698549032\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '38'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":9,\"page\":1,\"_links\":{\"self\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":1759344,\"name\":\"Abandoned
        Chats\",\"description\":\"Abandoned Chats\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1759344\",\"class\":\"label\"}}},{\"id\":1759343,\"name\":\"Escalated\",\"description\":\"Escalated\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1759343\",\"class\":\"label\"}}},{\"id\":1759340,\"name\":\"Example\",\"description\":\"Example\",\"enabled\":true,\"types\":[\"case\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1759340\",\"cl[...]
