<p><%= link_to "Get List of Cases", kases_path %></p>
<p><%= link_to "Get List of Labels", labels_path %></p>
<p><%= link_to "Make Prove It Label", prove_labels_path %></p>
<p><%= link_to "Assign Prove It Label", assign_labels_path %></p>
